*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.3;
    color: #333;
    overflow-x: hidden ;
}

#hero{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #141414;
}

.capa lottie-player{
    min-width: 100%;
    min-height: 100%;    
} 




.linea_derecha{
    width: 100px;
    height: 3px;
    background-color: wheat;
    margin-bottom: 20px;
}



.items h2{
    font-size:1.5rem;
}

.items{
    width: 440px;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    min-width: 800px;
    margin-right: 350px;
}

.carousel .carousel-item{
    z-index: 1;
    min-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    user-select: none;
   
    padding-bottom: 50px;
}

.items a{
    margin-top: 10px;
    width: 300px;
}